node_modules
coverage/*
tmp/avatar/*
tmp/cars/*
/.idea/*
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/eslint.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/rentx.iml
/.idea/vcs.xml
/.env
dist