<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentx- Forget Password</title>
    <style>
        #container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
            padding: 2%;
        }

        span {
            margin: 10px 0;
            display: block;
        }

        img {
            width: 300px;
            height: 250px;
            object-fit: contain;
        }
    </style>
</head>

<body>

    <div id="container">
        <img src="https://www.go2rentx.com/sites/default/files/rentx-ogimage-1200x630.jpg" alt="image_rentx" />

        <h1>Recuperação de Senha</h1>
        <span>
            <strong>Olá</strong>, {{name}}
        </span>
        <br />
        <p>Você solicitou alteração de senha</p>
        <span>Para realizar a troca por favor clica no link
            <a href={{link}}>{{link}} </a>
        </span>

        <span>Caso não tenha sido você quem solicitou a alteração da senha, basta ignorar este email</span>
        <br />
        <p><strong>Obrigado!</strong></p>

        <h4>Equipe | <strong>Rentx</strong></h4>

    </div>
</body>

</html>
